body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.feature{
  width: 66px;
  height: 66px;

  margin: 0 auto;
}
.feature .fa-wifi{
  padding: 20px;
  font-size: 20px;
  color: white;
}
.feature .fa-cloud-arrow-down{
  padding: 20px;
  font-size: 20px;
   color: white;
 }
 .feature .fa-credit-card{
  padding: 20px;
  font-size: 20px;
   color: white;
 }
 .feature .fa-b{
  padding: 20px;
  font-size: 20px;
  color: white;
 }
 .feature .fa-code{
  padding: 20px;
  font-size: 20px;
   color: white;
 }
 .feature .fa-check{
  padding: 20px;
  font-size: 20px;
   color: white;
 }
 
.btn-card{
  border-top: 1px solid black;
}
